body {
	background: teal;
	color: white;
}





h1 {

color: black;
/*background: #333;
*/


}

h1 {
	font-style: italic;
	font-family: arial
}

h5 {
	color: red;
	font-family: arial;
	font-style:italic;
	font-size: 30px
}


